* {
    margin: 0;
    padding: 0;
}

@import './secciones/index';
@import './secciones/wallets';
@import './secciones/swaps';
@import './secciones/exchanges';
@import './secciones/explorers';

/* BARRA de menu de navegacion */
header {
    background: rgb(31, 36, 125);
    background: linear-gradient(180deg, rgba(31, 36, 125, 1) 0%, rgba(70, 70, 170, 1) 41%, rgba(100, 156, 238, 1) 100%);

    .flexheader {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 120px;
        width: 100vw;

        .logo {
            letter-spacing: 10px;
            font-size: 60px;
            justify-content: center;
            justify-items: center;
            color: rgb(4, 4, 4);
            font-family: 'Luckiest Guy', cursive;
            animation-name: animacionLogo;
            animation-duration: 5s;
            animation-iteration-count: infinite;

        }

        @keyframes animacionLogo{
            0% {
                color: rgb(240, 87, 138);
            }

            25% {
                color: blue;
            }

            50% {
                color: black;
            }
        }
        .menu a {
            color: rgb(2, 2, 2);
            text-decoration: none;
            margin: 20px;
            font-family: 'Luckiest Guy', cursive;
            font-size: 25px;
            letter-spacing: 3px;
        }

        a.nav-link.active {
            font-size: 30px;
            color: rgb(240, 87, 138);
        }

        .menu a:hover {
            color: rgb(240, 87, 138);
        }
    }
}

/* FOOTER */
.footer {
    background-color: darkgray;
    height: 150px;
    width: auto;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    a {
        text-decoration: none;
    }


}

/* header para 475px */
@media (max-width: 475px) {
    header {

        background: rgb(31, 36, 125);
        background: linear-gradient(180deg, rgba(31, 36, 125, 1) 0%, rgba(70, 70, 170, 1) 41%, rgba(100, 156, 238, 1) 100%);

        .flexheader {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            height: 120px;


            .logo {
                letter-spacing: 10px;
                font-size: 38px;
                justify-content: center;
                justify-items: center;
                color: rgb(4, 4, 4);
                font-family: 'Luckiest Guy', cursive;
            }

            .menu a {
                color: rgb(2, 2, 2);
                text-decoration: none;
                margin: 0;
                font-family: 'Luckiest Guy', cursive;
                font-size: 15px;
                letter-spacing: 1px;
            }

            .menu a:hover {
                color: rgb(240, 87, 138);
            }
        }
    }
}

/* FOOTER para 475px */
@media (max-width: 475px) {
    .footer {
        background-color: darkgray;
        height: 150px;
        width: auto;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        a {
            text-decoration: none;
        }
    }
}