.grillaexplorers {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.2fr 1.6fr;
    grid-template-rows: auto;
    gap: 6px 4px;
    grid-template-areas:
      "header header"
      "aside explorers"
      "footer footer";
  }
  
  .header {
    grid-area: header;
  }
  
  .explorers {
    grid-area: explorers;
    height: 100%;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  }
  
  .aside {
    grid-area: aside;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .explorersgrid {
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 0.9fr;
    grid-template-rows: 0.5fr 1.6fr 1.6fr;
    gap: 6px 4px;
    grid-auto-flow: column;
    grid-template-areas:
      "h2explorers h2explorers h2explorers"
      "etherscan bscscan cardanoscan"
      "polygon solscan velas";

     div.card{
        width:350px;
        margin: 20px;
      }
  }
  
  .solscan {
    grid-area: solscan;
  }
  
  .polygon {
    grid-area: polygon;
  }
  
  .bscscan {
    grid-area: bscscan;
  }
  
  .etherscan {
    grid-area: etherscan;
  }
  
  .cardanoscan {
    grid-area: cardanoscan;
  }
  
  .velas {
    grid-area: velas;
  }
  
  .h2explorers {
    grid-area: h2explorers;
  }
  .h2explorers {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    text-align: center;
    letter-spacing: 6px;
    width: 100%;
   margin-top: 30px;
  }
  .imgexplorers {
    width: 340px;
    height: 250px;
    border-radius: 20px;
    transition: 1s;
    
  }

   /* explorers.html para 475px */
  @media (max-width: 475px) {
    .grillaexplorers {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 0.2fr 1.6fr;
      grid-template-rows: auto;
      gap: 6px 4px;
      grid-template-areas:
        "header"
        "explorers"
        "aside"
        "footer";
    }
    
    .header {
      grid-area: header;
    }
    
    .explorers {
      grid-area: explorers;
      height: 100%;
      
    }
    
    .aside {
      grid-area: aside;
    }
    
    .footer {
      grid-area: footer;
    }
    
    .explorersgrid {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      div.card{
        width: 288px;
 
      }}


    .h2explorers {
      font-family: 'Luckiest Guy', cursive;
      font-size: 25px;
      text-align: center;
      letter-spacing: 6px;
      width: 100%;
      margin: 10% 80% 10%;
    }
    .imgexplorers {
      width: 280px;
      height: 250px;
      border-radius: 20px;
      transition: 1s;
      
    }
  
  }